<%# images from https://wallpaperaccess.com/mtg#google_vignette %>

<!DOCTYPE html>
<html>
  <head>
    <title>Spelled</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
      window.logoUrl = '<%= image_url('logo.png') %>'
      window.placeholderUrl = '<%= image_url('placeholder.jpg') %>'
      window.slider1Url = '<%= image_url('slider1.jpg') %>'
      window.slider2Url = '<%= image_url('slider2.jpg') %>'
      window.placeUrl = '<%= image_url('place.jpg') %>'
      window.holdUrl = '<%= image_url('hold.png') %>'
    </script>
    <%= favicon_link_tag asset_path('favicon-s.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
